﻿@model Pizzeria.ASP.Models.ProductModel

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<form action="#" method="post" enctype="multipart/form-data">
    <input class="form-control" type="text" name="Name" value="@(Model?.Name)" />
    <p class="text-danger">@Html.ValidationMessage("Name")</p>
    <textarea class="form-control" name="Description">
        @(Model?.Description)
    </textarea>
    <p class="text-danger">@Html.ValidationMessage("Description")</p>
    <input class="form-control" type="text" name="Price" value="@(Model?.Price)" />
    <p class="text-danger">@Html.ValidationMessage("Price")</p>
    @*<input class="form-control" type="number" name="CategoryId" value="@(Model?.CategoryId)" />*@
<select class="form-control" name="CategoryId">
    @foreach (var item in Model.AllCategories)
    {
        if (item.Id == Model.CategoryId)
        {
            <option selected value="@item.Id">@item.Name</option>
        }
        else
        {
            <option value="@item.Id">@item.Name</option>
        }
    }
</select>
    <input type="file" name="File"/>
    <button class="btn btn-success">Ajouter</button>
</form>

