﻿
@{
    ViewBag.Title = "Editer une Produit";
}

<h2>Editer une produit</h2>
<form action="#" method="post" enctype="multipart/form-data">
    <input class="form-control" type="text" name="Name" value="@(Model?.Name)" />
    <p class="text-danger">@Html.ValidationMessage("Name")</p>
    <textarea class="form-control" name="Description">
        @(Model?.Description)
    </textarea>
    <p class="text-danger">@Html.ValidationMessage("Description")</p>
    <input class="form-control" type="text" name="Price" value="@(Model?.Price)" />
    <p class="text-danger">@Html.ValidationMessage("Price")</p>
    @*<input class="form-control" type="number" name="CategoryId" value="@(Model?.CategoryId)" />*@
<select class="form-control" name="CategoryId">
    @foreach (var item in Model.AllCategories)
    {
        <option @(item.Id == Model.CategoryId ? "selected" : "")
                value="@item.Id">@item.Name</option>
            @*if (item.Id == Model.CategoryId)
            {
                <option selected value="@item.Id">@item.Name</option>
            }
            else
            {
                <option value="@item.Id">@item.Name</option>
            }*@
        }
</select>
    <input type="file" name="File"/>
    <input type="hidden" name="Image" value="@(Model?.Image)"/>
    <img style="height:100px" src="@Model.Image"/>
    <button class="btn btn-success">Ajouter</button>
</form>
