﻿@model IEnumerable<Pizzeria.ASP.Models.ProductModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <p>@item.Name</p>
    <img style="height:100px" src="@item.Image"/>
    <a href="?">Modifier</a>
}

