﻿@model Pizzeria.ASP.Models.CategoryModel
@{
    ViewBag.Title = "Creer une nouvelle CAtegorie";
}

<h2>Creer une nouvelle Categorie</h2>
<form action="#" method="post">
    <input class="form-control" type="text" name="Name" value="@(Model?.Name)"/>
    <button class="btn btn-info">Envoyer</button>
</form>
