﻿@model IEnumerable<Pizzeria.ASP.Models.CategoryModel>
@{
    ViewBag.Title = "Liste Des Categories";
}

<a href="/Category/Add">Ajouter une nouvelle Categorie</a>
<h2>Liste des categories</h2>
@foreach (var item in Model)
{
    <p>
        @item.Name
    <a class="delete" href="/Category/Delete/@item.Id"><span class="glyphicon glyphicon-trash text-danger"></span></a>
</p>
}
@section scripts {
    <script>
        //let items = document.getElementsByClassName("delete");
        //for (let item of items) {
        //    item.addEventListener("click", e => {
        //        e.preventDefault();
        //    })
        //}
        $(() => {
            $(".delete").on("click", e => {
                let reponse = confirm("êtes vous sûr de vouloir supprimer cette categorie?");
                if (!reponse) {
                    e.preventDefault();
                }
            });
        });
    </script>
}




