﻿@model Pizzeria.ASP.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="#" method="post">
    <input type="email" name="Email" value="@(Model?.Email)" />
    <input type="password" name="PlainPassword" />
    <button>Se Loguer</button>
</form>
